<div class="main__nav">
    <nav>
        <ul class="nav__list">
            <li class="nav-item">
                <a href="/user" class="nav__link">
                    <img 
                        class="nav-img"
                        src="https://img.icons8.com/windows/64/000000/home.png"
                        alt="A Home Icon"
                    /> 
                    <div class="nav-item__text">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/user/profile" class="nav__link">
                    <img 
                        class="nav-img"
                        src="https://img.icons8.com/ios/50/000000/gender-neutral-user.png"
                        alt="A Profile Icon"
                    /> 
                    <div class="nav-item__text">Profile</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/posts" class="nav__link">
                    <img 
                        class="nav-img"
                        src="https://img.icons8.com/material-rounded/48/000000/hashtag-2.png"
                        alt="An Explore Icon"
                    /> 
                    <div class="nav-item__text">Posts</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav__link">
                    <img    
                        src="https://img.icons8.com/windows/32/000000/exit.png" 
                        alt="A logout icon" 
                        class="nav-img"
                    />
                    <div class="nav-item__text">Logout</div>
                </a>
            </li>
        </ul>
    </nav>
</div>