<header class="header">
    <div class="container">
        <div class="header__body">
            <!--Det behövs för att skapa länkar-->
            <div class="header__logo">
                <!--Det behövs för att visa bilder på webbsidan-->
                <img 
                    class="header__image" 
                    alt="A company logo" 
                    src="/images/icons8-chat-100.png"
                />
            </div>
            <nav class="header__menu">
                
                <ul class="header__list">
                    <li class="header__item">
                        <a href="/posts" class="header__link">Posts</a>
                    </li>
                    <li class="header__item">
                        <a href="/register" class="header__link">Register</a>
                    </li>
                    <li class="header__item">
                        <a href="/login" class="header__link">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>