<div class="info">
    <h1 class="info__title">User Profile</h1>
    <p class="info__name">Welcome, <%= user.name %>!</p>
    <div class="info__link">
        <a href="/users/logout">Update</a>
        <a href="/users/logout">Logout</a>
    </div>
</div>