<div class="main">
    <div class="main__leftcolumn">

    </div>
    <div class="main__centercolumn">
        <div class="main__post">
            <h2>Create a post</h2>
            <form action="/home" method="POST">
                <textarea name="message"></textarea><br />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="main__rightcolumn">
        <div>
            <p>Hello, <%= user.name %> </p>
        </div>
        <div class="main__links">
            <a href="/user_info" class="info__link main__link">Profile</a>
            <a href="/logout" class="info__link main__link">Logout</a>
        </div>
    </div>
</div>
