<div class="main">
    <div class="main__leftcolumn">

    </div>
    <div class="main__centercolumn">
        
    </div>
    <div class="main__rightcolumn">
        <p>Hello, <%= user.name %> </p>
        <a href="/userprofile">Profile</a>
        <a href="/users/logout">Logout</a>
    </div>
</div>
