<div class="main">
    <div class="main__leftcolumn">

    </div>
    <div class="main__centercolumn">
        
    </div>
    <div class="main__rightcolumn">
        <div>
            <p>Hello, <%= user.name %> </p>
        </div>
        <div class="main__links">
            <a href="/user_info" class="info__link main__link">Profile</a>
            <a href="/logout" class="info__link main__link">Logout</a>
        </div>
    </div>
</div>
