<html>
    <div class="card">
        <div class="card__img">
            <img 
                src="https://media.istockphoto.com/photos/people-figures-with-comment-clouds-above-their-heads-social-rumors-picture-id1312316578?b=1&k=20&m=1312316578&s=170667a&w=0&h=bqFzwAEIWGC4WhsIDwn8HshowVXDqiehwDAT6o-F5v0=" 
                alt="A twitter welcome image"
            >
        </div>
        <div class="card__text">
            <h1>Welcome!</h1>
            <p>Create an account or login</p>
            <div class="card__links">
                <a class="card__link" href="/register">Register</a> <br />
            </div>
            <div class="card__links">
                <a class="card__link" href="/login"> Login</a>
            </div>
        </div>
    </div>
</html>