.main {
    display: flex;
    margin-top: 50px;
}
.main__info{
    display: flex;
}
.main__info img{
    margin: -20px 0px 20px 20px;
}
.main__nav{
    width: 20%;
    margin-left: 50px;
}
.main__column{
    width: 80%;
    padding-top: 50px;
    margin-left: 100px;
}
.nav__list{
    list-style: none;
}
.nav__list li{
    margin: 10px auto;
}
.nav__link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.nav__link:active{
    font-weight: bold;
}
.user__link{
    text-decoration: none;
    color: #808080;
    font-weight: bold;
}
.user__link:hover{
    color: #499edf;
}