.main {
    display: flex;
    margin-top: 50px;
}
.main__info{
    display: flex;
}
.main__info img{
    margin: -20px 0px 20px 20px;
}
.main__nav{
    width: 20%;
    margin-left: 50px;
}
.main__column{
    width: 80%;
}
.main__column h1{
    text-align: center;
}
.nav__list{
    list-style: none;
}
.nav-item{
    font-size: 18px;
    margin: 20px 10px 20px 0px;
}

.nav__link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
}
.nav-img{
    background-color: #fff;
    border-radius: 30px;
    width: 30px;
}
.nav-item__text{
    margin-left: 20px;
}
.user__link{
    text-decoration: none;
    color: #808080;
    font-weight: bold;
    text-transform: uppercase;
}
.user__link:hover{
    color: #499edf;
}
@media (max-width: 768px){
    .main__nav{
        width: 10%;
    }
    .main__column{
        width: 90%;
    }
    .nav-item__text{
        display: none;
    }
};