.main {
    display: flex;
}
.main__leftcolumn, .main__rightcolumn{
    margin-top: 100px;
    width: 25%;
}
.main__centercolumn{
    padding-top: 100px;
    width: 50%;
}

.main__rightcolumn{
    padding-right: 30px;
    text-align: right;
}
.main__links{
    margin-top: 20px;
}
.main__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.main__link:hover{
    color: #fff;
}